:root {
   --test: #3d352a;
   --test: #cd5c5c;
   --test: #86af80;
   --test: #e8ae5b;
   --test: #6495ed;
   --test: #deb887;
   --test: #b0c4de;
   --test: #bbaa99;
   --test: #554444;
   --test: #cc5533;
   --test: #88aa22;
   --test: #ffa75d;
   --test: #87ceeb;
   --test: #996600;
   --test: #b0c4de;
   --test: #ddccbb;

   
}


