html,
body {
    text-align: center;
}

body a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: var(--link-text-decoration);
}

ul  {
    padding-left: 0;
    text-align: left;
  }


#main-container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.flex {
    display: flex;
    margin-bottom: var(--row-gap);
}

.content-wrap {
    margin-top: var(--content-margin-top);

}

#content-container {
    width: 60%;
    margin-bottom: var(--row-gap);
    background-color: var(--sidebar-bg-color);
    display: flex; 
}



#sidebar {
    width: var(--sidebar-width);
    margin: var(--sidebar-margin);
    overflow: var(--sidebar-overflow);
    background-color: var(--sidebar-bg-color);
    flex: 1;
}

#header-contained {
    height: var(--header-height);
    margin-bottom: var(--header-margin-bottom);
    margin-top: var(--header-margin-top);
    background-image: var(--header-background);
    background-position: center center;
}

#footer {
    height: var(--footer-height);
    text-align: center;
    color: var(--font-color);
    background-color: var(--footer-bg-color);
}

#footer :hover{
    color: var(--yellow);
}

#header-full {
    display: none;
    height: var(--header-height);
    margin-bottom: var(--header-margin-bottom);
    background-image: var(--header-background);
    background-position: center center;

}

#navbar-contained {
    margin-bottom: var(--row-gap)
    
}

#navbar-full {
    display: none;
}

.nav {
    margin-left: 0;
    text-align: var(--navitems-alignment);
    margin-top: 0;
    margin-bottom: var(--navbar-margin-bottom);
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--nav-bg-color);
}

.nav li {
    display: inline-block;
    padding-right: var(--space-between-navitems);
}

.nav li :hover {
    color: var(--highlight-color);
}



.wrapper {
    padding: var(--content-padding);
    padding-top: var(--sidebar-padding);
}

.sidebar-wrapper {
    padding: var(--sidebar-padding);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
}

.footer-wrapper {
    padding: 5px;
}

.nav, .header, #content-container , #sidebar, #header-contained, #header-full, #navbar-contained, #navbar-full, #footer {
    border-radius: 10px;

}

@media only screen and (max-width: 800px) {
    .flex {
        flex-wrap: wrap;
    }

    #sidebar {
        width: 100%;
        display: block;
        margin: 10px;
        order: 2;
    }

    #content-container {
        width: 100%;
        display: block;
        order: 1;
        margin-bottom: 10px;
    }
}


